
.chartContainer {
    padding-top: 5rem;
    display: flex;
    flex-flow: column;
    /*background-color: white;*/
    justify-content: center;
    color: white;
    align-items: center;
    gap: 4%;
}

.chartWrapper {
    flex-basis: 40%;
    border: 1px solid #EE6F57;
    margin: auto auto 5px;
}

canvas {
    background-color: white;
}
