.MuiDataGrid-footerContainer {
    background-color: #F6F5F5;
}

.MuiBox-root {
    padding-left: 4vw;
    min-width: 1000px;
    max-width: 1500px;
}

.MuiSvgIcon-root {
    color: #145374;
}

.PrivateSwitchBase-input {
    /*color: white;*/
    /*background-color: white;*/
    /*appearance: none;*/
}

.MuiButtonBase-root-MuiCheckbox-root {
    /*color: white;*/
    /*background: white;*/
}

.Mui-checked {
    /*color: white;*/
    /*background: white;*/
}

/*.MuiTouchRipple-root {*/
/*    border: 1px solid red;*/
/*}*/
.MuiDataGrid-sortIcon {
    color: yellow;
}

.MuiDataGrid-columnHeadersInner {
    color: #00334E;
    background-color: #F6F5F5;
}

.MuiToolbar-root {
    font-weight: bold;
}

.MuiDataGrid-selectedRowCount {
    color: #F6F5F5;
    font-size: 14px;
}


