.mainContainer {
    top: 3vw;
    color: #145374;
    background-color: #EE6F57;
    width: 80%;
    margin: auto;
    min-width: 590px;
    overflow: hidden;
}

.buttonWrapper {
    width: 590px;
    min-width: 400px;
    margin: auto;
}


.MuiInputBase-root {
    min-width: 140px;
    max-width: 250px;
    background-color: #F6F5F5;
    padding: 10px;
    border-radius: 5px;
    border: 2px;
}

.MuiStack-root {
    background-color: #F6F5F5;
    width: 560px;
    min-width: 400px;
    margin: auto;
    padding: 12px 8px;
    /*border-radius: 5px;*/
    overflow: hidden;
}

h1 {
    padding: 2vw 0 10px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
}

h1::after {
    background: #EE6F57;
    background: linear-gradient(to right, transparent 0%, #EE6F57 50%, transparent 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 80%;
    padding-left: 14vw;
    /*margin: auto;*/
}

.MuiSvgIcon-root {
    color: #00334E;
}
