h3 {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}

h3::after {
    background: #EE6F57;
    background: linear-gradient(to right, transparent 0%, #EE6F57 50%, transparent 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    padding-left: 14vw;
}

.MuiBox-root .raceBox {
    position: relative;
    top: 4vw;
    width: 90vw;
    /*height: 30vw;*/
    height: 26vw;
    max-height: 380px;
    min-height: 380px;
    margin: 0 auto;
}

.MuiSvgIcon-root {
    color: #F6F5F5;
}

.MuiTablePagination-displayedRows {
    color: #F6F5F5;
    font-weight: bold;
}

.MuiDataGrid-columnHeadersInner {
    color: #00334E;
    background-color: #EE6F57;
    font-size: 12px;
    font-weight: bolder;
}

.MuiInputBase-root {
    min-width: 20vw;
}

.MuiToolbar-root {
    font-weight: bold;
}

.MuiDataGrid-selectedRowCount {
    color: #F6F5F5;
    font-size: 14px;
}

