/*document.body.style.backgroundColor = "#00334E";*/
body {
    /*background-color: #00334E;*/
    background-image: linear-gradient(#00334E, #145374 30%, #EE6F57 90%);
    height: 100vw;
    overflow-y: hidden;
}

.App {
    position: relative;
}

/*header {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    background-color: #145374;*/
/*    padding-bottom: 20px;*/
/*    margin-bottom: 20px;*/
/*    width: 100vw;*/
/*    height: 2vw;*/
/*    color: #F6F5F5;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    font-family: "Big Caslon";*/
/*    text-align: right;*/
/*}*/

.dashboard {
    background-color: transparent;
}

.mainContainer {
    background-color: transparent;
}

.MuiDataGrid-root {
    background-color: transparent;
    margin: 0px;
}

@media screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: #00334E;
    }

}

