
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit
}

body {
    /*background-color: #00334E;*/
    background-image: linear-gradient(#00334E 80%, #145374);
    height: 100vw;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    overflow: hidden;
}

.App {
    position: relative;
}

/*header {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    background-color: #145374;*/
/*    padding-bottom: 20px;*/
/*    margin-bottom: 20px;*/
/*    width: 100vw;*/
/*    height: 2vw;*/
/*    color: #F6F5F5;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    font-family: "Big Caslon";*/
/*    text-align: right;*/
/*}*/

.dashboard {
    background-color: transparent;
}

.mainContainer {
    background-color: transparent;
    top: 3vw;
    color: #145374;
    width: 80%;
    margin: auto;
    min-width: 590px;
    overflow: hidden;

}

.MuiDataGrid-root {
    background-color: transparent;
    flex-basis: 98%;
    margin: 0;
}

@media screen and (max-width: 500px) {
    body {
        background-image: none;
        background-color: #00334E;
    }

}

